/* .emojicard{
  position: absolute;
  top:0;
  margin-top: 50px;
  width: 300px;
  min-height: 150px;
  background-color:  whitesmoke;
  z-index: 100000;
  display:flex;
  font-size: 20px;
  flex-wrap: wrap;
  gap: 5px;
} */

.emojicard {
    position: absolute;
    margin-top: 50px;
    width: 320px;
    min-height: 170px;
    background-color: ghostwhite;
    z-index: 2000000;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
     column-gap: 7px;
     row-gap: 7px; 
    padding: 8px;  
    border-radius: 10px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    bottom: 60px;
  }
  
  